@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    color: white;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 8px 170px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.container {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

button {
    background-color: #3882f6;
}

.box1 {
    max-width: 450px;
    max-height: 220px;
    margin: 20px;
}

.box2 {
    display: flex;
    flex: 1;
    max-width: 450px;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 82, 87);
    max-height: 220px;
    margin: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    margin: 30px;
}

.gallery {
    width: 100%;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box {
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
}

.subtext {
    color: #1f2937;
    width: 150px;
    font-size:medium;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 80px 180px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

figcaption {
    margin-left: auto;
    font-weight: 900;
    font-size: 24px;
}

