@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    color: white;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 8px;
    margin: 0;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-left: 100px;
}

.container {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

button {
    background-color: #3882f6;
}

.box1 {
    max-width: 450px;
    max-height: 220px;
    margin: 50px;
}

.box2 {
    display: flex;
    flex: 1;
    max-width: 450px;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    max-height: 220px;
    margin: 50px;
}